<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>Login</h1>
        <p class="tagline">Access your account to explore our library!</p>
    </header>
    <main class="container">
        <form method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Log In</button>
        </form>
        <div class="function-links">
            <a href="{{ url_for('signup') }}">Don't have an account? Sign Up</a>
        </div>
    </main>
</body>

</html>
